.colab{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .allpages{
        width: 100%;
        height: 100%;
       // margin-bottom: 100px;
    }
}