<div class="groupe">

  <div class="btns">
    <button (click)="showpopup()">addgroupe</button>
  </div>
  <!-- <app-popupgroupe *ngIf="userclickedbtn" (groupstoadmin)="groups=$event"></app-popupgroupe > -->

  <!-- hadi add groupe at7aydha odirha f html dyal popupgroupe -->
    <div class="addgroupe">
        <h1>add new groupe</h1>
        <form action="" [formGroup]="formgroupename" (submit)="addgroupe()">
            <label for="">Name groupe</label>
            <input type="text" formControlName="namegroupe">
            <button type="submit">add groupe</button>
        </form>
    </div>
  <!-- hadi add groupe at7aydha odirha f html dyal popupgroupe -->

    <div class="getallgroups">

        <h2>Groupe List</h2>
        <table>
          <!-- Your table header here -->
          <thead>
            <tr>
              <th>ID</th>
              <th>namegroupe</th>

              <!-- Add other columns as needed -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let g of groups | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{ g?.id }}</td>
              <td>{{ g?.namegroupe  }}</td>
            
           
              <!-- Add other columns as needed -->
            </tr>
          </tbody>
        </table>
      
        <!-- Use ngx-pagination controls to handle pagination -->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

</div>
