<div class="userinfo">
    <h1></h1>
    <form action="">
        <div class="flname">
            <input type="text" name="" id=""><input type="text" name="" id="">
        </div>
        <div class="email"><input type="email" name="" id=""></div>
        <div class="role"><input type="role"></div>
        <div class="useraproval">
            <input type="text"> groupe
        </div>
        <div class="colaborator">
            manager email <input type="email">
        </div>
        
    </form>
</div>
