<div class="allusers" >
    <div class="adduser">
    <h1>add user {{getdatafromadminuser}}</h1>
        <span (click)="goout()">X</span>

    <!--this form for colab-->
    <form action="" [formGroup]="formcolab" (submit)="adduser()" *ngIf="getdatafromadminuser=='colab'">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" required>
          </div>
        
          <div>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" required>
          </div>
        
          <!-- Collaborator Details -->
          <div formGroupName="collaborator">
            <div>
              <label for="nom">Collaborator's First Name:</label>
              <input type="text" id="nom" formControlName="nom" required>
            </div>
        
            <div>
              <label for="prenom">Collaborator's Last Name:</label>
              <input type="text" id="prenom" formControlName="prenom" required>
            </div>
        
            <div>
              <label for="number">Collaborator's Number:</label>
              <input type="text" id="number" formControlName="number" required>
            </div>
        
         <!-- Manager Details -->
            <div formGroupName="manager">
                <div>
                <label for="managerId">Manager ID:</label>
                <select name="managerId" id="managerId" formControlName="id" required>
                    <option value="{{ user?.manager?.id }}" *ngFor="let user of usersHasroleadmin">{{ user?.email }}</option>
                </select>
                </div>
            </div>
          </div>
        
         <!-- Role Details -->
         <div formGroupName="role">
            <div>
              <label for="id">Role </label>
              <select name="" id="" formControlName="id" required>
                <option  value="{{role.id}}" *ngFor="let role of roles"  >{{role?.namerole}}</option>
              </select>
            </div>
          </div>
        
          <button type="submit">Submit</button>
    </form>

    <!--this form for manager-->
    <form action="" [formGroup]="formmanager" (submit)="adduser()" *ngIf="getdatafromadminuser=='manager'">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" required>
          </div>
        
          <div>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" required>
          </div>
        
          <!-- Manager Details -->
          <div formGroupName="manager">
            <div>
              <label for="nom">Manager's First Name:</label>
              <input type="text" id="nom" formControlName="nom" required>
            </div>
        
            <div>
              <label for="prenom">Manager's Last Name:</label>
              <input type="text" id="prenom" formControlName="prenom" required>
            </div>
        
            <div>
              <label for="number">Manager's Number:</label>
              <input type="text" id="number" formControlName="number" required>
            </div>
          </div>
        
          <!-- Role Details -->
          <div formGroupName="role">
            <div>
              <label for="id">Role </label>
              <select name="" id="" formControlName="id" required>
                <option  value="{{role.id}}" *ngFor="let role of roles"  >{{role?.namerole}}</option>
              </select>
            </div>
          </div>
        
          <button type="submit">Submit</button>
    </form>

    <!--this form for useraproval-->
    <form action="" [formGroup]="formuseraprov" (submit)="adduser()" *ngIf="getdatafromadminuser=='useraprove'">
      <div>
        <label for="aprovelEmail">Email:</label>
        <input type="email" id="aprovelEmail" formControlName="email" required>
      </div>
      <div>
        <label for="aprovelPassword">Password:</label>
        <input type="password" id="aprovelPassword" formControlName="password" required>
      </div>
         <!-- User Approval Details -->
<div formGroupName="useraprovel">
<div>
  <label for="aprovelNom">Nom:</label>
  <input type="text" id="aprovelNom" formControlName="nom" required>
</div>
<div>
  <label for="aprovelPrenom">Prénom:</label>
  <input type="text" id="aprovelPrenom" formControlName="prenom" required>
</div>
<div>
  <label for="aprovelNumber">Number:</label>
  <input type="text" id="aprovelNumber" formControlName="number" required>
</div>

<!-- Groupe Details -->
<div formGroupName="groupe">
  <div>
    <label for="groupeId">Groupe ID:</label>
    
    <select  formControlName="id" required>
      <option value="{{ g?.id }}" *ngFor="let g of groups">{{ g?.namegroupe }}</option>
  </select>
  </div>
</div>
</div>



<!-- Role Details -->
<div formGroupName="role">
<div>
  <label for="id">Role </label>
  <select name="" id="" formControlName="id" required>
    <option  value="{{role.id}}" *ngFor="let role of roles"  >{{role?.namerole}}</option>
  </select>
</div>
</div>

<button type="submit">Submit</button>
    </form>

</div>
</div>


<button (click)="senddatatest()"> teststettfghfch </button>