<div class="user">
  <!-- sayb hadi -->
  <div class="btns">
    <button (click)="clickBtnCollab()">collaborator</button> 
    <button (click)="clickBtnUserAprove()">userAproval</button>
    <button (click)="clickBtnManager()">manager</button>
  </div>
   <!-- sayb hadi 9ad m3aha inputs style -->

   <!--
    ng g c shared/popupgroupe 
    dzidha f module f export popupgroupecomponent
    
  -->
<app-popup *ngIf="userclickedbtn" [getdatafromadminuser]="userrole" (outpopup)="userclickedbtn=$event" (usersdatatoadmin)="users=$event"></app-popup>


    <div class="getallusers">

        <h2>User List</h2>
        <table>
          <!-- Your table header here -->
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Prenom</th>
              <th>Role</th>
              <th>Email</th>
              <th>Action</th>

              <!-- Add other columns as needed -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{ user.id }}</td>
              <td>{{ user?.collaborator?.nom || user?.manager?.nom || user?.useraprovel?.nom || user?.admin?.nom   }}</td>
              <td>{{ user?.collaborator?.prenom || user?.manager?.prenom || user?.useraprovel?.prenom || user?.admin?.prenom   }}</td>
              <td>{{ user?.role?.namerole  }}</td>
              <td>{{ user.email }}</td>
              <td>
                <button (click)="deleteuser(user.id)">
                    <span class="material-symbols-outlined">
                    delete
                    </span>
                </button>
             </td>
              <!-- Add other columns as needed -->
            </tr>
          </tbody>
        </table>
      
        <!-- Use ngx-pagination controls to handle pagination -->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>

    

</div>
